.letter {
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    background-color: rgb(138, 138, 138);

    aspect-ratio: 2.8 / 4;
    width: min(2.8rem, 6vw);
    
    border-radius: 0.3rem;
    border: none;

    font-size: larger;

    cursor: pointer;
}

.letter {
    font-size: max(1.4cqw, 15px);
}

.letter.gray {
    background-color: rgb(138, 138, 138);
}

.letter.green {
    background-color:#5bac52de;
}

.letter.yellow {
    background-color:#c5b03be8;
}

.letter.black {
    background-color: #69696975;
}

.letter.enter {
    font-weight: 600;
    font-size: max(1.3cqw, 12px);
    aspect-ratio: 4.2 / 4;
    width: min(4.2rem, 9vw);
}

.letter.backspace {
    aspect-ratio: 4.2 / 4;
    width: min(4.2rem, 9vw);
}