.letter {
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    background-color: rgb(138, 138, 138);

    height: 4rem;
    width: 2.8rem;
    
    border-radius: 0.3rem;
    border: none;

    font-size: larger;

    cursor: pointer;
}

.letter.gray {
    background-color: rgb(138, 138, 138);
}

.letter.green {
    background-color:#5bac52de;
}

.letter.yellow {
    background-color:#c5b03be8;
}

.letter.black {
    background-color: #69696975;
}

.letter.enter {
    font-weight: 700;
    font-size: medium;
    width: 4.2rem;
}

.letter.backspace {
    width: 4.2rem;
}