.field {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    border: transparent;
    border-radius: 0.2rem;

    input {
        width: 60%;
        height: 60%;

        border: none;
        caret-color: transparent;
        /*outline: none;*/

        text-align: center;
        font-size: 1.5rem;
    }
}

.field b {
    font-size: 1.5rem;
}

.field.white {
    background-color: lightgray;
}

.field.green {
    background-color: green;
}

.field.yellow {
    background-color: yellow;
}

.field.gray {
    background-color: gray;
}