.homepage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    row-gap: 10px;
}

.link {
    width: fit-content;
    font-size: large;
    background-color: white;
    border-radius: 2rem;
    text-decoration: none;
    color: black;
    border: none;

    padding: 1rem 1.8rem;
}