.field {
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 2px solid transparent;
    

    color:white;
}

.field b {
    font-size: 1.8rem;
    font-weight: bolder;
    user-select: none;
}

.field.black {
    border: 2px solid #69696975;
    background-color: black;
}

.field.black.active {
    border-color: rgb(69, 69, 69);
}

.field.green {
    background-color:#5bac52de;
}

.field.yellow {
    background-color:#c5b03be8;
}

.field.gray {
    background-color:#69696975;
}

.field.correct {
    animation: correct 500ms ease;
}

.field.shake {
    animation: shake 400ms ease-in-out;
}

@keyframes correct {
    0% {
        transform: rotateX(0deg);
    }

    50% {
        transform: rotateX(90deg);
    }

    100% {
        transform: rotateX(0deg);
    }
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    20% {
        transform: translateX(-5px);
    }

    40% {
        transform: translateX(5px);
    }

    60% {
        transform: translateX(-5px);
    }

    80% {
        transform: translateX(5px);
    }

    100% {
        transform: translateX(0);
    }
}