.field {
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 2px solid transparent;
    

    color:white;
}

.field b {
    font-family: Arial, sans-serif;
    font-size: 1.8rem;
    font-weight: bolder;
    user-select: none;
}

.field.white {
    border: 2px solid #69696975;
    background-color: black;
}

.field.green {
    background-color:#5bac52de;
}

.field.yellow {
    background-color:#c5b03be8;
}

.field.gray {
    background-color:#69696975;
}