.grid {
    display: grid;
    grid-template-columns: repeat(5, 52px);
    grid-template-rows: repeat(6, 52px);
    gap: 6px;
}

.game{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
    justify-content: center;
    padding-top: 4rem;
}

.row {
    display: flex;
    margin-bottom: 6px;
    flex-direction: row;
    justify-content: center;
    gap: 6px;
}